---
import { Picture, Image } from 'astro:assets'
const { title, description, image, image_description='', link, flip } = Astro.props;
import Button from "./Button.astro";
---

<style>
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
  }

  .section-text {
    flex: 1;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: left;
    flex-direction: column;
  }

  .section-title {
    font-family: 'Roboto';
    font-size: 44.8px;
    font-style: normal;
    font-weight: 700;
    line-height: 58.2px;
    text-size-adjust: 100%;
    margin-bottom: 2rem;
  }

  .section-description {
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 28.8px;
    text-size-adjust: 100%;
    margin-bottom: 1rem;
    max-width: 600px;
  }

  .section-image {
    flex: 1;
    max-width: 50%;
    padding-right: 2rem;
  }

  .section-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .flipped {
    flex-direction: row-reverse;
  }

  @media (max-width: 768px) {
    .section {
      flex-direction: column;
      padding: 1rem;
    }

    .section.flipped {
      flex-direction: column;
    }

    .section-text {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 1rem;
      text-align: center;
    }

    .section-title {
      font-size: 32px;
      line-height: 40px;
    }

    .section-description {
      font-size: 18px;
      line-height: 24px;
      max-width: 100%;
    }

    .section-image {
      max-width: 100%;
      padding-right: 0;
      width: 100%;
    }

    .section-image img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }

</style>

<div class={`section ${flip ? 'flipped' : ''}`}>
  <div class="section-text">
    <div class="section-title">
      <h2>{title}</h2>
    </div>
    <div class="section-description">
      <p>{description}</p>
    </div>
    <!-- <a href={link} class="learn-more">LEARN MORE</a> -->
    <Button url={link} text="LEARN MORE" />
  </div>
  <div class="section-image">
    <Image src={image} alt={image_description} />
  </div>
</div>